* {
    font-family: sans-serif;
}
:root {
    --topbar-height: 4em;
}
body {
    overflow-x: hidden;
}

#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--topbar-height);
    line-height: var(--topbar-height);

    background: darkslateblue;
}
#topbar > a {
    vertical-align: middle;
    height: var(--topbar-height);
    font-size: x-large;
    
    color: white;

    margin-left: 1em;
}

#content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--topbar-height));
    border: none;
}

.center {
    text-align: center;
}

#table, #preview {
    border: none;
    width: 75vw;
    position: absolute;
    top: 0;
    right: 0;
}
#filesdiv {
    width: 25vw;
    position: absolute;
    top: 0;
    left: 0;
}
#table td {
    margin-left: .5vw;
    margin-right: .5vw;
}
#table td:nth-last-child(1) {
    white-space: nowrap;
}

li {
    white-space: pre;
}